<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DeleteCandidature</servlet-name>
  	<display-name>DeleteCandidature</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.DeleteCandidature</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEntreprise</servlet-name>
  	<display-name>DeleteEntreprise</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.DeleteEntreprise</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostAjout</servlet-name>
  	<display-name>PostAjout</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PostAjout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostPostuler</servlet-name>
  	<display-name>PostPostuler</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PostPostuler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreAjout</servlet-name>
  	<display-name>PreAjout</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreAjout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreCandidature</servlet-name>
  	<display-name>PreCandidature</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreCandidature</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreEntreprise</servlet-name>
  	<display-name>PreEntreprise</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreEntreprise</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreOffre</servlet-name>
  	<display-name>PreOffre</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreOffre</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrePostuler</servlet-name>
  	<display-name>PrePostuler</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PrePostuler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Verif</servlet-name>
  	<display-name>Verif</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.Verif</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteCandidature</servlet-name>
  	<url-pattern>/DeleteCandidature</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEntreprise</servlet-name>
  	<url-pattern>/DeleteEntreprise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostAjout</servlet-name>
  	<url-pattern>/PostAjout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostPostuler</servlet-name>
  	<url-pattern>/PostPostuler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreAjout</servlet-name>
  	<url-pattern>/PreAjout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreCandidature</servlet-name>
  	<url-pattern>/PreCandidature</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreEntreprise</servlet-name>
  	<url-pattern>/PreEntreprise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreOffre</servlet-name>
  	<url-pattern>/PreOffre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrePostuler</servlet-name>
  	<url-pattern>/PrePostuler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Verif</servlet-name>
  	<url-pattern>/Verif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
